body {
margin:0;
background:#000;
background-attachment: fixed;

}

.contenedor{
  width:90%;
  max-width: 3000px;
  margin:auto;
}


*{
  margin: 0 auto;
}

#particles-js {
  width: 100%;
  height:100%;
  position: fixed;

}

.login{
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}





.btn-info{
  color: white;
  background-color: #3B5998;
  border-color: #3B5998;

}

.btn-info:focus,
.btn-info.focus {
  color: white;
  background-color: #365899;
  border-color: #365899;
}
.btn-info:hover {
  color: white;
  background-color: #365899;
  border-color: #365899;
}


.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: white;
  background-color: #365899;
  border-color: #365899;
}
.btn-info:active:hover,
.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus {
  color: white;
  background-color: #365899;
  border-color: #365899;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  background-image: none;
}
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus {
  color: white;
  background-color: #365899;
  border-color: #365899;
}
.btn-info .badge {
  color: white;
  background-color: #365899;
  
}

navbar-text {
  margin-top: 15px;
  margin-bottom: 200px;
}


header {
  position: relative;
  height: auto;
  overflow: hidden;
}