@font-face {
    font-family: Open-Sans;
    src: url("../fonts/open-sans.ttf");
}
*{
  font-family: Open-Sans;
}
body{
  background-color: #F8F8F9;
}
/*
 * Sidebar
 */
/* Hide for mobile, show later */
.sidebar,
.float-bar{
  display: none;
  -webkit-user-select: none;
  -moz-user-select: none; 
}
.sidebar, .sidebar a{
  color:#C2C2CA;
  text-decoration: none;
}
@media (min-width: 768px) { /* CSS para Escritorio*/
  .sidebar{
    width: 231px;
  }
  .float-bar{
    width: 375px;
  }
  .sidebar, 
  .float-bar{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: hidden; /* Scrollable contents if viewport is shorter than content. */
    background-color: #23232c;
    font-size: 9pt;
  }
/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar  li {
    height: 30px;
}
.nav-sidebar > li > a {
    padding-right: 30px;
    padding-left: 30px;
    height: 30px;
    padding-top: 5px;
    cursor: pointer;
}
.nav-sidebar hr{
  margin: 5px 0 5px 0;
  margin-left: 10%;
  width: 80%;
  border-top: 1px solid #474747;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  border-left:solid 10px #007FEB;
  padding-left: 20px;
  background-color:#15151E;
}
.nav-sidebar > li a:hover,
.nav-sidebar > li a:hover,
.nav-sidebar > li a:focus {
  background-color: #191922;
}
.nav-sidebar li a .img-profile{
  width: 23px;
  height: 23px;
  margin-top: -2px;
  float: left;
  border: 2px rgba(109, 109, 109, 0.5) solid 
}
.nav-sidebar li a .settings{
  float: right;
}
.nav-sidebar li .link-profile{
  width: 300px;
  padding-right: 70px;
}
.sidebar .btn-info,
.sidebar .btn-info:focus{
  width: 90%;
  background-color: #007FEB;
  border-color: #007FEB;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: Open-Sans;
  font-size:9pt;
}
.sidebar li .glyphicon{
  font-size:12pt;
}
.float-bar{
  background-color: #F8F8FA;
  color: #72727d;
  z-index: 500;
  margin-left: -500px;
  font-size: 10pt;
  overflow-y: auto;
}

.float-bar h5{
  margin-top: 20px;
}

.float-bar li:focus,
.float-bar li:hover{
  background-color: #EFEFF2;
  cursor:pointer;
}

.float-bar .section{
  list-style: none;
  margin-left: -45px;
}

.float-bar li,
.float-bar li a{
  height: 40px;
  color:#32323d;
  margin-bottom: 5px;
  text-decoration:none;
}

.float-bar .icon{
  background-color: #007FEB;
  border-radius: 32px;
  color:#fff;
  float: left;  
  line-height: 32px;
  margin-left: 10px;
  margin-right: 20px;
  margin-top: 4px;
  text-align: center; 
  width: 32px;
}

.float-bar .icon-label{
  // display:inline;
  margin-left: 10px;
  line-height: 40px;
}

.float-bar hr{
  border-top: 1.7px solid #E8E8EC;
  margin-top: 10px;
  margin-bottom: 10px;
}

.float-bar .arrow{
  float: right;
  line-height: 32px;
  color: #C5C5CD;
}

// .float-bar .slider{
//   width: 100px;
//   height:40px;
// }

// .float-bar .cross-fade-slider{
//   float: left;
//   width: 20px;
// }

// .float-bar .cross-fade-val,
// .float-bar .cross-fade-max{
//   float: left;
//   width: 20%;
// }

.float-bar-overlay{
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0a0a1655;
    z-index: 1; 
    cursor: pointer;
}

.float-bar .chb{
  float:right;
  margin: 0px;
  width: 30px;
  height: 30px;
  margin-top: 5px;
  // border: solid 1px #C5C5C5;
}

} 
// Fin CSS para Escritorio
// POR ARCHIVOS
// 
// ##################################################
// search.html
// Tabla
.table-striped>tbody>tr{
  color:#92929D;
}
.table-striped > tbody > tr:hover{
  background-color: #E8E8EC;
}
.btn-none{
  background-color:rgba(0, 0, 0, 0);
}
.card{
  background-color: #fff;
  -webkit-box-shadow: 0 1px 2px rgba(25,25,34,.15);
          box-shadow: 0 1px 2px rgba(25,25,34,.15);
}