@font-face {
    font-family: Open-Sans;
    src: url("../fonts/open-sans.ttf");
}

*{
  font-family: Open-Sans;
}
/*
 * Sidebar
 */
/* Hide for mobile, show later */
.sidebar {
  display: none;
  width: 230px;
  -webkit-user-select: none;
  -moz-user-select: none; 
}

.sidebar, .sidebar a{
  color:#C2C2CA;
  text-decoration: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: hidden; /* Scrollable contents if viewport is shorter than content. */
    background-color: #23232c;
    border-right: 1px solid #eee;
    font-size: 9pt;
  }
}
/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav-sidebar  li {
    height: 30px;
}

.nav-sidebar > li > a {
    padding-right: 30px;
    padding-left: 30px;
    height: 30px;
    padding-top: 5px;
}

.nav-sidebar hr{
  margin: 5px 0 5px 0;
  margin-left: 10%;
  width: 80%;
  border-top: 1px solid #474747;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  border-left:solid 10px #007FEB;
  padding-left: 20px;
  background-color:#15151E;
}

.nav-sidebar > li a:hover,
.nav-sidebar > li a:hover,
.nav-sidebar > li a:focus {
  background-color: #191922;
}

.nav-sidebar li a .img-profile{
  width: 23px;
  height: 23px;
  margin-top: -2px;
  float: left;
  border: 2px rgba(109, 109, 109, 0.5) solid 
}

.nav-sidebar li a .settings{
  float: right;
}

.nav-sidebar li .link-profile{
  width: 300px;
  padding-right: 70px;
}

.sidebar .btn-info,
.sidebar .btn-info:focus{
  width: 90%;
  background-color: #007FEB;
  border-color: #007FEB;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: Open-Sans;
  font-size:9pt;
}

.sidebar li .glyphicon{
  font-size:12pt;
}

// POR ARCHIVOS
// 
// ##################################################
// search.html
.nav-bar{
  width: 20%;
  float: left;
}

.content-main{
  width: 80%
  float:left;
}

// Tabla
.table-striped>tbody>tr{
  color:#92929D;
}
.table-striped > tbody > tr:hover{
  background-color: #E8E8EC;
}

.btn-none{
  background-color:rgba(0, 0, 0, 0);
}

.card{
  background-color: #fff;
  -webkit-box-shadow: 0 1px 2px rgba(25,25,34,.15);
          box-shadow: 0 1px 2px rgba(25,25,34,.15);
}