@font-face {
    font-family: Open-Sans;
    src: url("../fonts/open-sans.ttf");
}

*{
  font-family: Open-Sans;
}
/*
 * Sidebar
 */
/* Hide for mobile, show later */
.sidebar {
  display: none;
}

.sidebar, .sidebar a{
  color:#C2C2CA;
  text-decoration: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #23232c;
    border-right: 1px solid #eee;
    font-size: 9pt;
  }
}
/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav-sidebar .col1,
.nav-sidebar .col2{
  float:left;
  margin: 0 auto;
}

.col1{
  width: 20%;
}

.col2{
  width: 60%;
}
.sidebar .player{
  bootom:0;
  margin-left: -15px;
  margin-right: -15px;
}

.nav-sidebar > li > a {
  padding-right: 30px;
  padding-left: 30px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  border-left:solid 10px #007FEB;
  padding-left: 20px;
  background-color:#15151E;
}

.nav-sidebar hr{
  margin: 5px 0 5px 0;
  border-top: 1px solid #474747;
}

.nav-sidebar li{
  height: 35px;
}

.nav-sidebar > li a:hover,
.nav-sidebar > li a:hover,
.nav-sidebar > li a:focus {
  background-color: #191922;
}

.sidebar .btn,
.sidebar .btn:focus{
  width: 90%;
  background-color: #007FEB;
  border-color: #007FEB;
  margin-top: 5px;
  margin-bottom: 5px;
}

// POR ARCHIVOS
// 
// ##################################################
// search.html
.nav-bar{
  width: 20%;
  float: left;
}

.content-main{
  width: 80%
  float:left;
}

// Tabla
.table-striped>tbody>tr{
  color:#92929D;
}
.table-striped > tbody > tr:hover{
  background-color: #E8E8EC;
}

.btn-none{
  background-color:rgba(0, 0, 0, 0);
}

.card{
  background-color: #fff;
  -webkit-box-shadow: 0 1px 2px rgba(25,25,34,.15);
          box-shadow: 0 1px 2px rgba(25,25,34,.15);
}