<h5>Cuenta</h5>
<hr>
<ul class="section">
    <li>
      <a href="#cuenta" id="cuenta">
        <span class="icon glyphicon glyphicon-user"></span>
        <span class="icon-label">Ajustes de la cuenta</span>
        <span class="arrow glyphicon glyphicon-chevron-right"></span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon glyphicon glyphicon-question-sign" style="background-color: #76D016"></span>
        <span class="icon-label">Ayuda</span>
        <span class="arrow glyphicon glyphicon-chevron-right"></span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon glyphicon glyphicon-barcode" style="background-color: #8D05AD"></span>
        <span class="icon-label">Activar un código</span>
        <span class="arrow glyphicon glyphicon-chevron-right"></span>
      </a>
    </li>
</ul>
<h5>Audio</h5>
<hr>
<ul class="section">
  <li>
    <span class="icon-label">
      Alta calidad
      <input class="chb" type="checkbox" name="ckb-high-quality" value="ckb-high-quality">
    </span>
  </li>
  <li>
    <span class="icon-label">
      Cross-fade
    </span>
    <!-- <span class="slider">
      <span id="cross-fade-val">0</span>
      <input id="cross-fade-slider" type="range" min="0" max="10" step="1">
      <span id="cross-fade-max">10</span>
    </span> -->
  </li>
</ul>
<h5>Descubrir Deezer</h5>
<hr>
<ul class="section">
  <li>
    <a href="offers.html" target="blank" onclick="floatBar.hidePanel()">
      <span class="icon-label">Ofertas</span>
      <span class="arrow glyphicon glyphicon-chevron-right"></span>
    </a>
    </li>
  <li>
    <a href="#" target="blank" onclick="floatBar.hidePanel()">
      <span class="icon-label">Quiénes somos</span>
      <span class="arrow glyphicon glyphicon-chevron-right"></span>
    </a>
    </li>
  <li>
    <a href="#" target="blank" onclick="floatBar.hidePanel()">
      <span class="icon-label">Ventajas</span>
      <span class="arrow glyphicon glyphicon-chevron-right"></span>
    </a>
    </li>
  <li>
    <a href="#" target="blank" onclick="floatBar.hidePanel()">
      <span class="icon-label">Trabajos</span>
      <span class="arrow glyphicon glyphicon-chevron-right"></span>
    </a>
    </li>
</ul>
<div class="panel-footer">
  <div class="col-sm-12">
    <button type="button" class="btn btn-danger btn-block" onclick="location.href='login.html'">
    Desconectarse
    </button>
  </div>
</div>