<div class="container-fluid">

  <!--Barra de navegacion-->
  <div class="row" >
      <!-- <div class="col-lg-1 col-md-0"></div> -->
      <div class="col-lg-10 col-md-6">
            <nav class="navbar navbar-center">
              <div class="container-fluid">
                <ul class="nav navbar-nav">
                  <li><a class="active" href="#">Mis Datos</a></li>
                  <li><a href="#">Notificaciones y Compartir</a></li> 
                  <li><a href="#">Mis Dispositivos Conectados</a></li>
                </ul>
              </div>
            </nav>
      </div> 
      
     </div>  
</div>
<!-- Fin barra de navegacion-->
<!--Formulario-->
 <div class="container-fluid well card">
        <div class="container-fluid">
          <div class="row col-lg-12 col-sm-6 col-md-6 col-xs-12">
            <div class="col-lg-3">
              <img src="img/usuario.jpg">
            </div>
              <div class="col-lg-5">

                <h4>Mi Oferta</h4>
                <hr>
                <p>Actualmente disfrutas de la versión gratuita de Deezer.</p><br>
                <h4>Conectarse</h4>
              </div>
              <div class="col-lg-3">
                <button class="btns">Gestionar Mi Suscripcion</button>
              </div>
          </div>
        </div>
          <div class="contenedorFormulario">
            <table class="table" style="width: 500px">
                <tr>
                    <td class="td">Tu correo electrónico:</td>
                    <td ><input class="form-control" type="email" name="txt-correo"></td>
                    <td><button class="btns">Modificar</button></td>
                </tr>
                <tr>
                  <td class="td">Tu contraseña:</td>
                  <td><input class="form-control" type="password" name="txt-contrasenia"></td>
                  <td><button class="btns">Modificar</button></td>
                </tr>
            </table>

          </div>
      <div class="container-fluid">
          <div class="row">
            <div class="col-lg-2"></div>
              <div class="col-lg-5">
                <h4>Datos Deezer visibles para otros usuarios</h4>
              </div>
              <div class="col-lg-4"></div>
          </div>
      </div>
      <div class="contenedorFormulario">
          <table class="table" style="width: 500px">
              <tr>
                <td class="td">Sexo</td>
                <td>
                  <label > <input type="radio" name="txt-sexo">Mujer</label>
                  <label ><input type="radio" name="txt-sexo">Hombre</label>
                </td>

              </tr>
              <tr>
                <td class="td">Nombre de usuario</td>
                <td><input class="form-control" type="text" name="txt-nombre-usuario"></td>

              </tr>
          </table>
      </div>
       <div class="container-fluid">
          <div class="row">
            <div class="col-lg-2"></div>
              <div class="col-lg-5">
                <h4>Datos privados</h4>
              </div>
              <div class="col-lg-4">
              </div>
          </div>
        </div>
          
       <div class="contenedorFormulario">
            <table class="table" style="width: 500px">
                <tr>
                    <td class="td">Apellido(s):</td>
                    <td ><input class="form-control" type="text" name="txt-apellido"></td>
                   
                </tr>
                <tr>
                  <td class="td">Nombre</td>
                  <td><input class="form-control" type="text" name="txt-nombre"></td>                    
                </tr>
                <tr>
                  <td class="td">Fecha de Nacimiento</td>
                  <td ><select>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                        <option>13</option>
                        <option>14</option>
                        <option>15</option>
                        <option>16</option>
                        <option>17</option>
                        <option>18</option>
                        <option>19</option>
                        <option>20</option>
                        <option>21</option>
                        <option>22</option>
                        <option>23</option>
                        <option>24</option>
                        <option>25</option>
                        <option>26</option>
                        <option>27</option>
                        <option>28</option>
                        <option>29</option>
                        <option>30</option>
                        <option>31</option>
                    
                  </select>
                  <select >
                     <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                  </select>
                  <select>
                        <option>1990</option>
                        <option>1991</option>
                        <option>1992</option>
                        <option>1993</option>
                        <option>1994</option>
                        <option>1995</option>
                        <option>1996</option>
                        <option>1997</option>
                        <option>1998</option>
                        <option>1999</option>
                        <option>2000</option>
                        <option>2001</option>
                        <option>2002</option>
                        <option>2003</option>
                        <option>2004</option>
                        <option>2005</option>
                        <option>2006</option>
                        <option>2007</option>
                        <option>2008</option>
                        <option>2009</option>
                        <option>2010</option>
                        <option>2011</option>
                        <option>2012</option>
                        <option>2013</option>
                        <option>2014</option>
                        <option>2015</option>
                        <option>2016</option>
                      
                    </option>
                  </select>
                  </td>
                </tr>
                <tr>
                  <td class="td">Direccion</td>
                  <td><input class="form-control" type="text" name="txt-direccion"></td>
                </tr>
                <tr>
                  <td class="td">Codigo postal</td>
                  <td><input class="form-control" type="text" name="txt-codigo-postal"></td>
                </tr>
                <tr>
                  <td class="td">Movil</td>
                  <td><input type="phone" name="txt-telefono" class="form-control"></td>
                </tr>
                <tr>
                  <td class="td">Idioma</td>
                  <td><select>
                      <option>Español</option>
                      <option>English</option>
                  </select>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <button type="button" class="btn btn-guardar">Guardar</button>
                  </td>
                </tr>
                
            </table>
              <button type="button" class="btn btn-danger" style="padding:7px 200px 7px 200px">
                          Eliminar Cuenta        
               </button>
          </div>    
<!--Fin Formulario-->  

</div>
