<!-- Contenido Principal -->
<div class="container-fluid">
<!--Barra de usuario-->
<div class="banner-header-bg banner" style="background-image: url(img/fondo.jpg)" >
<h2>
  <p >#Nombre de usuario#</p>
</h2>
</div>
<!--Fin Barra de usuario-->

<img src="img/usuario.jpg" class="img-responsive img-circle" style="margin-bottom:-120px;
margin-left: 170px"" width="140">

<!--Icons-->
<div style="margin-top: 80px">
<div class="col-md-4 col-md-"></div>
<div class="col-md-4 col-md-4">
    <button id="botones" class="btn btn-azul">
        <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span><strong>  FLOW</strong>
    </button>
    <button class=" btn cuenta" id="botones">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span><strong>  Mi cuenta</strong>
    </button>
</div>
<div class="col-md-4 col-md-3"></div>
</div>
<!-- Fin de los Icons-->

<!--Barra de navegacion-->
<div class="row col-lg-12" style="margin-top: 50px">
<div class="col-lg-1 col-md-0"></div>
<div class="col-lg-10 col-md-12">
    <nav class="navbar navbar-center">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li><a href="#">Mi Musica</a></li>
          <li><a href="#">Mis Favoritas</a></li> 
          <li><a href="#">Playlist</a></li>
          <li><a href="#">Álbumes</a></li>
          <li><a href="#">Artistas</a></li>
          <li><a href="#">Más &nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-down"></span></a></li> 
        </ul>
      </div>
    </nav>
</div> 
<div class="col-lg-0"></div>

</div>
<!-- Fin barra de navegacion-->

<!--Reproduccion-->
<div class="row col-lg-12" style="background-color: rgba(230, 230, 231,0.2);margin-bottom: 15px">
<h5># Cancion</h5>
<div class="col-lg-2 col-md-3">
<button class="reproductor botones">
  <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span><strong>  Escuchar</strong>
</button>
</div>
<div class="col-lg-3 col-md-2"></div>
<div class="col-lg-7 col-md-7">
<input type="text" name="txt-busqueda" id="txt-busqueda" placeholder="Buscar en los resultados" class="control boton">
</div>  
</div>
<!-- Fin de reproduccion-->


<!--Tabla-->

<table class="table table-striped table-responsive table-hover">
<thead class="th">
  <th>Canción</th>
  <th></th>
  <th></th>
  <th></th>   
  <th></th>
  <th></th>
  <th>Artista</th>
  <th>Álbum</th>
  <th>D.</th>
  <th>Añadido</th>
</thead>
<tbody>
<!-- ROW -->
  <tr id="song1">
    
    <td>
      <button type="button" class="btn btn-none btn-xs">
        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
      </button>
    </td>
    <td>
      <button type="button" class="btn btn-none btn-xs">
        <span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span>
      </button>
    </td>
    <td>
      <button type="button" class="btn btn-none btn-xs">
        <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
      </button>
    </td>
    <td>Lorem ipsum dolor sit amet, consectetur</td>
    <td>
      <button type="button" class="btn btn-none btn-xs">
        <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>
      </button>
    </td>
    <td>
      <button type="button" class="btn btn-none btn-xs">
        <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
      </button>
    </td>
    <td>Frank Sinatra</td>
    <td>Lorem</td>
    <td>03:00</td>
    <td>
      <span class="glyphicon glyphicon-star"></span>
    </td>
  </tr>
  <!-- ROW -->
  <tr id="song2">
    
    <td>
      <button type="button" class="btn btn-none btn-xs">
        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
      </button>
    </td>
    <td>
      <button type="button" class="btn btn-none btn-xs">
        <span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span>
      </button>
    </td>
    <td>
      <button type="button" class="btn btn-none btn-xs">
        <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
      </button>
    </td>
    <td>Lorem ipsum dolor sit amet, consectetur</td>
    <td>
      <button type="button" class="btn btn-none btn-xs">
        <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>
      </button>
    </td>
    <td>
      <button type="button" class="btn btn-none btn-xs">
        <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
      </button>
    </td>
    <td>Frank Sinatra</td>
    <td>Lorem</td>
    <td>03:00</td>
    <td>
      <span class="glyphicon glyphicon-star"></span>
    </td>
  </tr>
  <!-- ROW -->
  <tr id="song3">
    
    <td>
      <button type="button" class="btn btn-none btn-xs">
        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
      </button>
    </td>
    <td>
      <button type="button" class="btn btn-none btn-xs">
        <span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span>
      </button>
    </td>
    <td>
      <button type="button" class="btn btn-none btn-xs">
        <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
      </button>
    </td>
    <td>Lorem ipsum dolor sit amet, consectetur</td>
    <td>
      <button type="button" class="btn btn-none btn-xs">
        <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>
      </button>
    </td>
    <td>
      <button type="button" class="btn btn-none btn-xs">
        <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
      </button>
    </td>
    <td>Frank Sinatra</td>
    <td>Lorem</td>
    <td>03:00</td>
    <td>
      <span class="glyphicon glyphicon-star"></span>
    </td>
  </tr>
  <!-- ROW -->
  <tr id="song4">
    
    <td>
      <button type="button" class="btn btn-none btn-xs">
        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
      </button>
    </td>
    <td>
      <button type="button" class="btn btn-none btn-xs">
        <span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span>
      </button>
    </td>
    <td>
      <button type="button" class="btn btn-none btn-xs">
        <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
      </button>
    </td>
    <td>Lorem ipsum dolor sit amet, consectetur</td>
    <td>
      <button type="button" class="btn btn-none btn-xs">
        <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>
      </button>
    </td>
    <td>
      <button type="button" class="btn btn-none btn-xs">
        <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
      </button>
    </td>
    <td>Frank Sinatra</td>
    <td>Lorem</td>
    <td>03:00</td>
    <td>
      <span class="glyphicon glyphicon-star"></span>
    </td>
  </tr>
</tbody>
</table>
<!--Fin de tabla-->
<!-- Fin Contenido Principal -->


