<div class="container-fluid well card">
	<div class="row">
		<div class="col-sm-12">
			BANNER
		</div>
	</div>
</div>


<h2 class="divider">
	<div class="divider-line"></div>
		<div class="divider-text">Recomendado hoy para ti.
		</div>
</h2>
<!--Primer bloque -->
<article>
	<div class="card">
		<div class="container-fluid well card">
			<div class="row">
				<div class="col-lg-3">
					<img src="img/feed/b.jpg">
				</div>
				<div class="col-lg-9">
					<div class="info">
						<div><br>
							<div class="sticker sticker-default">PLAYIST</div>
						</div><br>
						<h4><a href="#">cool</a></h4>
						<div class="titulo_down">
							de <a href="#">Sandrine Secqueville</a>
						</div><br><br>
						<div class="titulo_album">
							Con los artistas: 
						</div>
						<div class="subtitulo_down">
						<a href="#">Maxwell</a>,
						<a href="#">S.O.S</a>,
						<a href="#">Karen Souza</a>,
						<a href="#">Urselle</a>,
						<a href="#">Maxwell</a>,
						<a href="#">S.O.S</a>,
						<a href="#">Kenji Club</a>,
						<a href="#">K&D</a>,
						<a href="#">Juan Padilla</a>
						<a href="#">Eve St. Jones</a>,
						<a href="#">Mahoney</a>,
						<a href="#">y más</a>
						</div>
					</div>
				</div>
			</div>
				<div class="footers">
				<button class="btn btn-link">
					<span class="glyphicon glyphicon-heart" style="padding-right: 0px; border-right-width: 0px;margin-right: 0px;">
						<span class="label">Añadir a mi música</span>
					</span>
				</button>	
				<button class="btn btn-link">
					<span class="glyphicon glyphicon-share-alt" style="padding-right: 0px; border-right-width: 0px;margin-right: 0px;">
						<span class="label">Compartir</span>
					</span>
				</button>
				<button class="btn btn-link">
					<span class="glyphicon glyphicon-comment" style="padding-right: 0px; border-right-width: 0px;margin-right: 0px;">
						<span class="label">Comentar(33)</span>
					</span>
				</button>
			</div>
		</div>
	</div>
</article>

<article class="card">
	<div class="container-fluid well card">
		<div class="row">
			<div class="col-lg-6">
				<div class="info">
					<div><br>
						<div class="sticker sticker-default">ÁLBUM</div>
					</div><br>
					<div class="titulo_album">Pensamos que a lo mejor te gustara esto:
					</div>
					<div>
						<a href="#"><h4>A Propósito de Garfunkel</h4></a>
					</div>
					<div>
						<div class="titulo_down">
							de <a href="#">New Raemon</a>
						</div>
							
						
					</div><br><br><br><br><br><br><br><br><br><br>
					<div class="info-down">
						<div class="row">
							<div class="col-lg-2">
								<img src="img/feed/c1.jpg">
							</div>
							<div class="col-lg-4">	
								<span class="details">
									<ul class="list-unstyled">
										<li>
											<div class="titulo_down">
												<a href="#"> Discografía(21)</a>
											</div>
											<div class="subtitulo_down">
												<a href="#">Quema la memoria</a>,
												<a href="#">Tinieblas</a>,
												<a href="#">Por fin</a>
											</div>
										</li>
										<li>
											<div class="titulo_down">
												<a href="#">Artistas similares</a>
											</div>
											<div class="subtitulo_down">
												<a href="#">AA</a>,
												<a href="#">Madee</a>,
												<a href="#">Vulcan</a>
											</div>
										</li>
									</ul>
								</span>
							</div>
						</div>		
					</div>
				</div>
			</div>

			<div class="col-lg-6">
				<img src="img/feed/c.jpg">
			</div>
		</div>
		<div class="footers">
			<button class="btn btn-link">
				<span class="glyphicon glyphicon-heart" style="padding-right: 0px; border-right-width: 0px;margin-right: 0px;">
					<span class="label">Añadir a mi música</span>
				</span>
			</button>	
			<button class="btn btn-link">
				<span class="glyphicon glyphicon-share-alt" style="padding-right: 0px; border-right-width: 0px;margin-right: 0px;">
					<span class="label">Compartir</span>
				</span>
			</button>
			<button class="btn btn-link">
				<span class="glyphicon glyphicon-comment" style="padding-right: 0px; border-right-width: 0px;margin-right: 0px;">
					<span class="label">Comentar(6)</span>
				</span>
			</button>
		</div>
	</div>					
</article>

<h2 class="divider">
	<div class="divider-line"></div>
		<div class="divider-text">Ayer
		</div>
</h2>

<!--Segundo bloque -->
<article>
	<div class="card">
		<div class="container-fluid well card">
			<div class="row">
				<div class="col-lg-3">
					<img src="img/feed/d.jpg">
				</div>
				<div class="col-lg-9">
					<div class="info">
						<div><br>
							<div class="sticker sticker-default">PLAYIST</div>
						</div><br>
						<h4><a href="#">Disco</a></h4>
						<div class="titulo_down">
							de <a href="#">Mathieu Le Roux</a>
						</div><br><br>
						<div class="titulo_album">
							Con los artistas: 
						</div>
						<div class="subtitulo_down">
						<a href="#">Gloria Gaynor</a>,
						<a href="#">Kool & The Gang</a>,
						<a href="#">Tavares</a>,
						<a href="#">George Benson</a>,
						<a href="#">Bee Gees</a>,
						<a href="#">Hot Chocolate</a>,
						<a href="#">John Paul Young</a>,
						<a href="#">KC & The Sunshine Band</a>,
						<a href="#">Earth, Wind & Fire</a>,
						<a href="#">The Foundations</a>,
						<a href="#">y más</a>
						</div>
					</div>
				</div>
			</div>
			<div class="footers">
				<button class="btn btn-link">
					<span class="glyphicon glyphicon-heart" style="padding-right: 0px; border-right-width: 0px;margin-right: 0px;">
						<span class="label">Añadir a mi música</span>
					</span>
				</button>	
				<button class="btn btn-link">
					<span class="glyphicon glyphicon-share-alt" style="padding-right: 0px; border-right-width: 0px;margin-right: 0px;">
						<span class="label">Compartir</span>
					</span>
				</button>
				<button class="btn btn-link">
					<span class="glyphicon glyphicon-comment" style="padding-right: 0px; border-right-width: 0px;margin-right: 0px;">
						<span class="label">Comentar(2)</span>
					</span>
				</button>
			</div>
		</div>
	</div>
</article>

<article class="card">
	<div class="container-fluid well card">
		<div class="row">
			<div class="col-lg-6">
				<div class="info">
					<div><br>
						<div class="sticker sticker-default">ÁLBUM</div>
					</div><br>
					<div class="titulo_album">Si te gusta Tears for Fears, a lo mejor también esto:
					</div>
					<div>
						<a href="#"><h4>Love Songs</h4></a>
					</div>
					<div>
						<div class="titulo_down">
							de <a href="#">Bee Gees</a>
						</div>
							
						
					</div><br><br><br><br><br><br><br><br><br><br>
					<div class="info-down">
						<div class="row">
							<div class="col-lg-2">
								<img src="img/feed/beegees1.jpg">
							</div>
							<div class="col-lg-4">	
								<span class="details">
									<ul class="list-unstyled">
										<li>
											<div class="titulo_down">
												<a href="#">Discografía (29)</a>
											</div>
											<div class="subtitulo_down">
												<a href="#">Timeless</a>,
												<a href="#">Great Hits</a>,
												<a href="#">Specks</a>
											</div>
										</li>
										<li>
											<div class="titulo_down">
												<a href="#">Artistas similares</a>
											</div>
											<div class="subtitulo_down">
												<a href="#">ABBA</a>,
												<a href="#">Andy Gibb</a>,
												<a href="#">Barry Gibb</a>
											</div>
										</li>
									</ul>
								</span>
							</div>
						</div>		
					</div>
				</div>
			</div>

			<div class="col-lg-6">
				<img src="img/feed/beegees.jpg">
			</div>
		</div>
		<div class="footers">
			<button class="btn btn-link">
				<span class="glyphicon glyphicon-heart" style="padding-right: 0px; border-right-width: 0px;margin-right: 0px;">
					<span class="label">Añadir a mi música</span>
				</span>
			</button>	
			<button class="btn btn-link">
				<span class="glyphicon glyphicon-share-alt" style="padding-right: 0px; border-right-width: 0px;margin-right: 0px;">
					<span class="label">Compartir</span>
				</span>
			</button>
			<button class="btn btn-link">
				<span class="glyphicon glyphicon-comment" style="padding-right: 0px; border-right-width: 0px;margin-right: 0px;">
					<span class="label">Comentar(1)</span>
				</span>
			</button>
		</div>
	</div>					
</article>

<h2 class="divider">
	<div class="divider-line"></div>
		<div class="divider-text">Hace unos días
		</div>
</h2>
<!--Tercer bloque -->
<article>
	<div class="card">
		<div class="container-fluid well card">
			<div class="row">
				<div class="col-lg-3">
					<img src="img/feed/paez.jpg">
				</div>
				<div class="col-lg-9">
					<div class="info">
						<div><br>
							<div class="sticker sticker-default">PLAYIST</div>
						</div><br>
						<h4><a href="#">Balada</a></h4>
						<div class="titulo_down">
							de <a href="#">Frank William Parra</a>
						</div><br><br>
						<div class="titulo_album">
							Con los artistas: 
						</div>
						<div class="subtitulo_down">
						<a href="#">Los Toreros Muertos</a>,
						<a href="#">La Mosca Tse-Tse</a>,
						<a href="#">Maná</a>,
						<a href="#">Los De Adentro</a>,
						<a href="#">Los Fabulosos Cadillacs</a>,
						<a href="#">Fito Paéz</a>,
						<a href="#">Soda Stereo</a>,
						<a href="#">Santana</a>,
						<a href="#">Los Autenticos Decadentes</a>,
						<a href="#">Vilma Palma</a>,
						<a href="#">y más</a>
						</div>
					</div>
				</div>
			</div>
			<div class="footers">
				<button class="btn btn-link">
					<span class="glyphicon glyphicon-heart" style="padding-right: 0px; border-right-width: 0px;margin-right: 0px;">
						<span class="label">Añadir a mi música</span>
					</span>
				</button>	
				<button class="btn btn-link">
					<span class="glyphicon glyphicon-share-alt" style="padding-right: 0px; border-right-width: 0px;margin-right: 0px;">
						<span class="label">Compartir</span>
					</span>
				</button>
				<button class="btn btn-link">
					<span class="glyphicon glyphicon-comment" style="padding-right: 0px; border-right-width: 0px;margin-right: 0px;">
						<span class="label">Comentar(14)</span>
					</span>
				</button>
			</div>
		</div>
	</div>
</article>

<article class="card">
	<div class="container-fluid well card">
		<div class="row">
			<div class="col-lg-6">
				<div class="info">
					<div><br>
						<div class="sticker sticker-default">ÁLBUM</div>
					</div><br>
					<div class="titulo_album">Si te gusta Chicago, a lo mejor también esto:
					</div>
					<div>
						<a href="#"><h4>Ultimate Manilow</h4></a>
					</div>
					<div>
						<div class="titulo_down">
							de <a href="#">Barry Manilow</a>
						</div>
							
						
					</div><br><br><br><br><br><br><br><br><br><br>
					<div class="info-down">
						<div class="row">
							<div class="col-lg-2">
								<img src="img/feed/e1.jpg">
							</div>
							<div class="col-lg-4">	
								<span class="details">
									<ul class="list-unstyled">
										<li>
											<div class="titulo_down">
												<a href="#">Discografía (45)</a>
											</div>
											<div class="subtitulo_down">
												<a href="#">This is my town songs</a>,
												<a href="#">Barry</a>
											</div>
										</li>
										<li>
											<div class="titulo_down">
												<a href="#">Artistas similares</a>
											</div>
											<div class="subtitulo_down">
												<a href="#">Chicago</a>,
												<a href="#">Andy Gibb</a>,
												<a href="#">Hot Chocolate</a>
											</div>
										</li>
									</ul>
								</span>
							</div>
						</div>		
					</div>
				</div>
			</div>

			<div class="col-lg-6">
				<img src="img/feed/e.jpg">
			</div>
		</div>
		<div class="footers">
				<button class="btn btn-link">
					<span class="glyphicon glyphicon-heart" style="padding-right: 0px; border-right-width: 0px;margin-right: 0px;">
						<span class="label">Añadir a mi música</span>
					</span>
				</button>	
				<button class="btn btn-link">
					<span class="glyphicon glyphicon-share-alt" style="padding-right: 0px; border-right-width: 0px;margin-right: 0px;">
						<span class="label">Compartir</span>
					</span>
				</button>
				<button class="btn btn-link">
					<span class="glyphicon glyphicon-comment" style="padding-right: 0px; border-right-width: 0px;margin-right: 0px;">
						<span class="label">Comentar(63)</span>
					</span>
				</button>
			</div>
	</div>					
</article>


<!--Cuarto bloque -->
<article>
	<div class="card">
		<div class="container-fluid well card">
			<div class="row">
				<div class="col-lg-3">
					<img src="img/feed/f.jpg">
				</div>
				<div class="col-lg-9">
					<div class="info">
						<div><br>
							<div class="sticker sticker-default">PLAYIST</div>
						</div><br>
						<h4><a href="#">Rock</a></h4>
						<div class="titulo_down">
							de <a href="#">Boudoubidou 1</a>
						</div><br><br>
						<div class="titulo_album">
							Con los artistas: 
						</div>
						<div class="subtitulo_down">
						<a href="#">The Yesterdays</a>,
						<a href="#">The O'Jays</a>,
						<a href="#">The Foundations</a>,
						<a href="#">Studio Group</a>,
						<a href="#">Spin Doctors</a>,
						<a href="#">Soulsavers</a>,
						<a href="#">Seal and Croft</a>,
						<a href="#">Phill Collins</a>,
						<a href="#">Nickel Back</a>,
						<a href="#">y más</a>
						</div>
					</div>
				</div>
			</div>
			<div class="footers">
				<button class="btn btn-link">
					<span class="glyphicon glyphicon-heart" style="padding-right: 0px; border-right-width: 0px;margin-right: 0px;">
						<span class="label">Añadir a mi música</span>
					</span>
				</button>	
				<button class="btn btn-link">
					<span class="glyphicon glyphicon-share-alt" style="padding-right: 0px; border-right-width: 0px;margin-right: 0px;">
						<span class="label">Compartir</span>
					</span>
				</button>
				<button class="btn btn-link">
					<span class="glyphicon glyphicon-comment" style="padding-right: 0px; border-right-width: 0px;margin-right: 0px;">
						<span class="label">Comentar(10)</span>
					</span>
				</button>
			</div>
		</div>
	</div>
</article>

<article class="card">
	<div class="container-fluid well card">
		<div class="row">
			<div class="col-lg-6">
				<div class="info">
					<div><br>
						<div class="sticker sticker-default">ÁLBUM</div>
					</div><br>
					<div class="titulo_album">Si te gusta Chicago, a lo mejor también esto:
					</div>
					<div>
						<a href="#"><h4>Greatest, Vol. 1</h4></a>
					</div>
					<div>
						<div class="titulo_down">
							de <a href="#">Leo Sayer</a>
						</div>
							
						
					</div><br><br><br><br><br><br><br><br><br><br>
					<div class="info-down">
						<div class="row">
							<div class="col-lg-2">
								<img src="img/feed/g1.jpg">
							</div>
							<div class="col-lg-4">	
								<span class="details">
									<ul class="list-unstyled">
										<li>
											<div class="titulo_down">
												<a href="#">Discografía (101)</a>
											</div>
											<div class="subtitulo_down">
												<a href="#">Legends Live In Concert</a>,
												<a href="#">Rettles Years</a>
											</div>
										</li>
										<li>
											<div class="titulo_down">
												<a href="#">Artistas similares</a>
											</div>
											<div class="subtitulo_down">
												<a href="#">Electric Light Orchesta</a>,
												<a href="#">Tony Crhristie</a>
											</div>
										</li>
									</ul>
								</span>
							</div>
						</div>		
					</div>
				</div>
			</div>

			<div class="col-lg-6">
				<img src="img/feed/g.jpg">
			</div>
			<div class="footers">
				<button class="btn btn-link">
					<span class="glyphicon glyphicon-heart" style="padding-right: 0px; border-right-width: 0px;margin-right: 0px;">
						<span class="label">Añadir a mi música</span>
					</span>
				</button>	
				<button class="btn btn-link">
					<span class="glyphicon glyphicon-share-alt" style="padding-right: 0px; border-right-width: 0px;margin-right: 0px;">
						<span class="label">Compartir</span>
					</span>
				</button>
				<button class="btn btn-link">
					<span class="glyphicon glyphicon-comment" style="padding-right: 0px; border-right-width: 0px;margin-right: 0px;">
						<span class="label">Comentar(5)</span>
					</span>
				</button>
			</div>
		</div>
	</div>					
</article>

<!--Quinto bloque -->
<article>
	<div class="card">
		<div class="container-fluid well card">
			<div class="row">
				<div class="col-lg-3">
					<img src="img/feed/h.jpg">
				</div>
				<div class="col-lg-9">
					<div class="info">
						<div><br>
							<div class="sticker sticker-default">PLAYIST</div>
						</div><br>
						<h4><a href="#">Crémaillère - disco</a></h4>
						<div class="titulo_down">
							de <a href="#">dougv</a>
						</div><br><br>
						<div class="titulo_album">
							Con los artistas: 
						</div>
						<div class="subtitulo_down">
						<a href="#">Boney M.</a>,
						<a href="#">Michael Jackson</a>,
						<a href="#">The Foundations</a>,
						<a href="#">The Weather Girls</a>,
						<a href="#">Ottawan</a>,
						<a href="#">La Belle</a>,
						<a href="#">KC & The Sunshine Band</a>,
						<a href="#">John Travolta</a>,
						<a href="#">Gloria Gaynor</a>,
						<a href="#">y más</a>
						</div>
					</div>
				</div>
			</div>
			<div class="footers">
				<button class="btn btn-link">
					<span class="glyphicon glyphicon-heart" style="padding-right: 0px; border-right-width: 0px;margin-right: 0px;">
						<span class="label">Añadir a mi música</span>
					</span>
				</button>	
				<button class="btn btn-link">
					<span class="glyphicon glyphicon-share-alt" style="padding-right: 0px; border-right-width: 0px;margin-right: 0px;">
						<span class="label">Compartir</span>
					</span>
				</button>
				<button class="btn btn-link">
					<span class="glyphicon glyphicon-comment" style="padding-right: 0px; border-right-width: 0px;margin-right: 0px;">
						<span class="label">Comentar(0)</span>
					</span>
				</button>
			</div>
		</div>
	</div>
</article>

<article class="card">
	<div class="container-fluid well card">
		<div class="row">
			<div class="col-lg-6">
				<div class="info">
					<div><br>
						<div class="sticker sticker-default">ÁLBUM</div>
					</div><br>
					<div class="titulo_album">Y si escuchas:
					</div>
					<div>
						<a href="#"><h4>Hot August Night</h4></a>
					</div>
					<div>
						<div class="titulo_down">
							de <a href="#">Neil Diamond</a>
						</div>
							
						
					</div><br><br><br><br><br><br><br><br><br><br>
					<div class="info-down">
						<div class="row">
							<div class="col-lg-2">
								<img src="img/feed/i1.jpg">
							</div>
							<div class="col-lg-4">	
								<span class="details">
									<ul class="list-unstyled">
										<li>
											<div class="titulo_down">
												<a href="#">Discografía (74)</a>
											</div>
											<div class="subtitulo_down">
												<a href="#">August Neil Diamond</a>,
												<a href="#">Colecction</a>
											</div>
										</li>
										<li>
											<div class="titulo_down">
												<a href="#">Artistas similares</a>
											</div>
											<div class="subtitulo_down">
												<a href="#">Billy Joel</a>,
												<a href="#">Elton John</a>
											</div>
										</li>
									</ul>
								</span>
							</div>
						</div>		
					</div>
				</div>
			</div>

			<div class="col-lg-6">
				<img src="img/feed/i.jpg">
			</div>
			<div class="footers">
				<button class="btn btn-link">
					<span class="glyphicon glyphicon-heart" style="padding-right: 0px; border-right-width: 0px;margin-right: 0px;">
						<span class="label">Añadir a mi música</span>
					</span>
				</button>	
				<button class="btn btn-link">
					<span class="glyphicon glyphicon-share-alt" style="padding-right: 0px; border-right-width: 0px;margin-right: 0px;">
						<span class="label">Compartir</span>
					</span>
				</button>
				<button class="btn btn-link">
					<span class="glyphicon glyphicon-comment" style="padding-right: 0px; border-right-width: 0px;margin-right: 0px;">
						<span class="label">Comentar(7)</span>
					</span>
				</button>
			</div>
		</div>
	</div>					
</article>

<!--Sexto bloque -->
<article>
	<div class="card">
		<div class="container-fluid well card">
			<div class="row">
				<div class="col-lg-3">
					<img src="img/feed/j.jpg">
				</div>
				<div class="col-lg-9">
					<div class="info">
						<div><br>
							<div class="sticker sticker-default">PLAYIST</div>
						</div><br>
						<h4><a href="#">Swing</a></h4>
						<div class="titulo_down">
							de <a href="#">Martis de Cabaras</a>
						</div><br><br>
						<div class="titulo_album">
							Con los artistas: 
						</div>
						<div class="subtitulo_down">
						<a href="#">Benny Godman</a>,
						<a href="#">Countt Bassey</a>,
						<a href="#">Glen Miller</a>,
						<a href="#">Tomey Dorsey</a>,
						<a href="#">Tomey Dorsey And Orchesta</a>,
						<a href="#">Quincy Jones</a>,
						<a href="#">Jo Jones</a>,
						<a href="#">Duque Hellington</a>,
						<a href="#">The Puppini Sisters</a>,
						<a href="#">y más</a>
						</div>
					</div>
				</div>
			</div>
			<div class="footers">
				<button class="btn btn-link">
					<span class="glyphicon glyphicon-heart" style="padding-right: 0px; border-right-width: 0px;margin-right: 0px;">
						<span class="label">Añadir a mi música</span>
					</span>
				</button>	
				<button class="btn btn-link">
					<span class="glyphicon glyphicon-share-alt" style="padding-right: 0px; border-right-width: 0px;margin-right: 0px;">
						<span class="label">Compartir</span>
					</span>
				</button>
				<button class="btn btn-link">
					<span class="glyphicon glyphicon-comment" style="padding-right: 0px; border-right-width: 0px;margin-right: 0px;">
						<span class="label">Comentar(78)</span>
					</span>
				</button>
			</div>
		</div>
	</div>
</article>

<article class="card">
	<div class="container-fluid well card">
		<div class="row">
			<div class="col-lg-6">
				<div class="info">
					<div><br>
						<div class="sticker sticker-default">ÁLBUM</div>
					</div><br>
					<div class="titulo_album">Si te gusta Barbra Streisand te puede gustar esto:
					</div>
					<div>
						<a href="#"><h4>Walls Have Eyes</h4></a>
					</div>
					<div>
						<div class="titulo_down">
							de <a href="#">Robin Gibb</a>
						</div>
							
						
					</div><br><br><br><br><br><br><br><br><br><br>
					<div class="info-down">
						<div class="row">
							<div class="col-lg-2">
								<img src="img/feed/k1.jpg">
							</div>
							<div class="col-lg-4">	
								<span class="details">
									<ul class="list-unstyled">
										<li>
											<div class="titulo_down">
												<a href="#">Discografía (61)</a>
											</div>
											<div class="subtitulo_down">
												<a href="#">Saved By The Bell</a>,
												<a href="#">Hits</a>,
												<a href="#">Disco</a>
											</div>
										</li>
										<li>
											<div class="titulo_down">
												<a href="#">Artistas similares</a>
											</div>
											<div class="subtitulo_down">
												<a href="#">Barbra Streisand</a>,
												<a href="#">Andy Gibb</a>
											</div>
										</li>
									</ul>
								</span>
							</div>
						</div>		
					</div>
				</div>
			</div>

			<div class="col-lg-6">
				<img src="img/feed/k.jpg">
			</div>
			<div class="footers">
				<button class="btn btn-link">
					<span class="glyphicon glyphicon-heart" style="padding-right: 0px; border-right-width: 0px;margin-right: 0px;">
						<span class="label">Añadir a mi música</span>
					</span>
				</button>	
				<button class="btn btn-link">
					<span class="glyphicon glyphicon-share-alt" style="padding-right: 0px; border-right-width: 0px;margin-right: 0px;">
						<span class="label">Compartir</span>
					</span>
				</button>
				<button class="btn btn-link">
					<span class="glyphicon glyphicon-comment" style="padding-right: 0px; border-right-width: 0px;margin-right: 0px;">
						<span class="label">Comentar(3)</span>
					</span>
				</button>
			</div>
		</div>
	</div>					
</article>

<!--Quinto bloque -->
<article>
	<div class="card">
		<div class="container-fluid well card">
			<div class="row">
				<div class="col-lg-3">
					<img src="img/feed/l.jpg">
				</div>
				<div class="col-lg-9">
					<div class="info">
						<div><br>
							<div class="sticker sticker-default">PLAYIST</div>
						</div><br>
						<h4><a href="#">Plancha</a></h4>
						<div class="titulo_down">
							de <a href="#">Andres Tirado Jimenez</a>
						</div><br><br>
						<div class="titulo_album">
							Con los artistas: 
						</div>
						<div class="subtitulo_down">
						<a href="#">José José</a>,
						<a href="#">José Pandora</a>,
						<a href="#">Lucero</a>,
						<a href="#">Juan Gabriel</a>,
						<a href="#">Amanda Miguel</a>,
						<a href="#">Rocio Durcal</a>,
						<a href="#">Yuri</a>,
						<a href="#">Pimpinela</a>,
						<a href="#">Timbiriche</a>,
						<a href="#">y más</a>
						</div>
					</div>
				</div>
			</div>
			<div class="footers">
				<button class="btn btn-link">
					<span class="glyphicon glyphicon-heart" style="padding-right: 0px; border-right-width: 0px;margin-right: 0px;">
						<span class="label">Añadir a mi música</span>
					</span>
				</button>	
				<button class="btn btn-link">
					<span class="glyphicon glyphicon-share-alt" style="padding-right: 0px; border-right-width: 0px;margin-right: 0px;">
						<span class="label">Compartir</span>
					</span>
				</button>
				<button class="btn btn-link">
					<span class="glyphicon glyphicon-comment" style="padding-right: 0px; border-right-width: 0px;margin-right: 0px;">
						<span class="label">Comentar(43)</span>
					</span>
				</button>
			</div>
		</div>
	</div>
</article>

<article class="card">
	<div class="container-fluid well card">
		<div class="row">
			<div class="col-lg-6">
				<div class="info">
					<div><br>
						<div class="sticker sticker-default">ÁLBUM</div>
					</div><br>
					<div class="titulo_album">Si te gusta la musica romantica quiza te guste:
					</div>
					<div>
						<a href="#"><h4>The Ultimate Collection</h4></a>
					</div>
					<div>
						<div class="titulo_down">
							de <a href="#">Barbra Streisand</a>
						</div>
							
						
					</div><br><br><br><br><br><br><br><br><br><br>
					<div class="info-down">
						<div class="row">
							<div class="col-lg-2">
								<img src="img/feed/l1.jpg">
							</div>
							<div class="col-lg-4">	
								<span class="details">
									<ul class="list-unstyled">
										<li>
											<div class="titulo_down">
												<a href="#">Discografía (180)</a>
											</div>
											<div class="subtitulo_down">
												<a href="#">Encore: Movie Partners</a>,
												<a href="#">Sing Broadway</a>
											</div>
										</li>
										<li>
											<div class="titulo_down">
												<a href="#">Artistas similares</a>
											</div>
											<div class="subtitulo_down">
												<a href="#">Frank Sinatra</a>,
												<a href="#">Barry Gibb</a>
											</div>
										</li>
									</ul>
								</span>
							</div>
						</div>		
					</div>
				</div>
			</div>

			<div class="col-lg-6">
				<img src="img/feed/m.jpg">
			</div>
			<div class="footers">
				<button class="btn btn-link">
					<span class="glyphicon glyphicon-heart" style="padding-right: 0px; border-right-width: 0px;margin-right: 0px;">
						<span class="label">Añadir a mi música</span>
					</span>
				</button>	
				<button class="btn btn-link">
					<span class="glyphicon glyphicon-share-alt" style="padding-right: 0px; border-right-width: 0px;margin-right: 0px;">
						<span class="label">Compartir</span>
					</span>
				</button>
				<button class="btn btn-link">
					<span class="glyphicon glyphicon-comment" style="padding-right: 0px; border-right-width: 0px;margin-right: 0px;">
						<span class="label">Comentar(11)</span>
					</span>
				</button>
			</div>
		</div>
	</div>					
</article>

<!--Septimo-->
<article class="card">
	<div class="container-fluid well card">
		<div class="row">
			<div class="col-lg-5">
				<div class="info">
					<div><br>
						<div class="sticker sticker-evento">EVENTO</div>
					</div><br>
					<div>
						<h4>The Beatles</h4>
					</div>
					<div>
						<div class="titulo-2">
						¡Ya en Deezer!
						</div>
							
						
					</div><br><br><br><br><br><br><br><br>
					<div class="info-down">
						<div class="row">
							<button type="button" class="btn btn-sm btn-default">Descubrir<span class="glyphicon glyphicon-chevron-right"></span></button>
						</div>		
					</div>
				</div>
			</div>

			<div class="col-lg-6">
				<img src="img/feed/s.jpg">
			</div>
		</div>
	</div>					
</article>

<!---Octavo-->
<article class="card">
	<div class="container-fluid well card">
		<div class="row">
			<div class="col-lg-6">
				<img src="img/feed/t.jpg">
			</div>

			<div class="col-lg-6">
				<div class="info">
					<div><br>
						<div class="sticker sticker-default">ÁLBUM</div>
					</div>
					<h4><a href="#">7</a></h4>
					<div class="titulo_down">
							de <a href="#">Seal</a>
					</div><br>
					<table class="table">
						<thead>
							<tr>
								<th>
								</th>
								<th>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td width="20px">
								<label>
									<span class="glyphicon glyphicon-play-circle" style="font-size: 17px">
									</span>
								</label>
								</td>
								<td>
									Daylight Saving
								</td>
							</tr>

						</tbody>

					</table>
				</div>
			</div>
		</div>
	</div>					
</article>