      <div class="container-fluid well card"> 
          <div class="row">
            <div class="col-sm-12">
                BANNER
            </div>
          </div>  
        </div>
      <div class="container-fluid well card">
              <div class="row heading">
                <div class="text-center">
                  <a href="#" class="title">
                    <h4>EXPLORAR<span class="glyphicon glyphicon-chevron-right"></span></h4>
                  </a>
                </div>
                <span  class="text-center help-block text-center">
                  <h5 >Descubre los canales de música, entretenimiento y podcast</h5>
                </span>
              </div>
                  
              <div class="row">
                <div class="col-lg-3 col-sm-6 col-md-4 col-xs-12 text-center">
                  <img src="img/index/explorar/a100x214.jpg" class="img-rounded img-responsive center-block">
                </div>
                <div class="col-lg-3 col-sm-6 col-md-4 col-xs-12 text-center">
                  <img src="img/index/explorar/b100x214.jpg" class="img-rounded img-responsive center-block">
                </div>
                <div class="col-lg-3 col-sm-6 col-md-4 col-xs-12 text-center">
                  <img src="img/index/explorar/c100x214.jpg" class="img-rounded img-responsive center-block">
                </div>
                <div class="col-lg-3 col-sm-6 col-md-4 col-xs-12 text-center">
                  <img src="img/index/explorar/d100x214.jpg" class="img-rounded img-responsive center-block">
                </div>
              </div>
              
              <div class="row heading">
                <div class="text-center">
                  <!-- <a href="#" class="title"> -->
                    <h4>SELECCIÓN DE PLAYLISTS</h4>
                  <!-- </a> -->
                </div>
                <span  class="text-center help-block text-center">
                  <h5>Recomendaciones de nuestros Editores</h5>
                </span>
              </div>

              <div class="row">
                <div class="col-lg-3 col-sm-6 col-md-4 col-xs-12 text-center">
                  <img src="img/index/playlist/a264x264.jpg"  class="img-rounded img-responsive center-block img-album"><br>
                    <a href="#" >El mejor rock de todos los tiempos</a>
                    <span  class="help-block text-center"><h6>19 canciones - 1.920 fans</h6></span>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-4 col-xs-12 text-center">
                  <img src="img/index/playlist/b264x264.jpg"  class="img-rounded img-responsive center-block img-album" ><br>
                  <a href="#">Back to school</a>
                  <span  class="help-block text-center"><h6>13 canciones - 4.632 fans</h6></span>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-4 col-xs-12 text-center">
                  <img src="img/index/playlist/c264x264.jpg" class="img-rounded img-responsive center-block img-album"><br>
                  <a href="#">Prince covers y colaboraciones</a>
                  <span  class="help-block text-center"><h6>51 canciones - 6.245 fans</h6></span>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-4 col-xs-12 text-center">
                  <img src="img/index/playlist/d264x264.jpg"  class="img-rounded img-responsive center-block img-album"><br>
                  <a href="#">Epicos de los 80' y 90'</a>
                  <span  class="help-block text-center"><h6>32 canciones - 7.455 fans</h6></span>
                </div>
              </div>
              
              <div class="row heading">
                <div class="text-center">
                  <a href="#" class="title">
                    <h4>POPULAR
                      <span class="glyphicon glyphicon-chevron-right"></span>
                    </h4>
                  </a>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-sm-6 col-md-4 col-xs-12 text-center">
                  <img src="img/index/popular/a264x264.jpg" class="img-rounded img-responsive center-block img-album"><br>
                  <a href="#">Iconos del rock</a>
                  <span  class="help-block text-center"><h6>102 canciones - 10.365 fans</h6></span>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-4 col-xs-12 text-center">
                  <img src="img/index/popular/b264x264.jpg" class="img-rounded img-responsive center-block img-album"><br>
                  <a href="#">Hits del momento</a>
                  <span  class="help-block text-center"><h6>14 canciones - 263.452 fans</h6></span>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-4 col-xs-12 text-center">
                  <img src="img/index/popular/c264x264.jpg" class="img-rounded img-responsive center-block img-album"><br>
                  <a href="#">Reggaeton</a>
                  <span  class="help-block text-center"><h6>100 canciones - 102.365 fans</h6></span>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-4 col-xs-12 text-center">
                  <img src="img/index/popular/d264x264.jpg" class="img-rounded img-responsive center-block img-album"><br>
                  <a href="#">POP</a>
                  <span  class="help-block text-center"><h6>62 canciones - 301.548 fans</h6></span>
                </div>
              </div>
            </div> <!-- FIN container-fluid -->
            <div class="clear"></div>
            <div class="container-fluid">
              <div class="row heading">
                <div class="col-xs-12">
                  <div class="text-center">
                    <a href="#" class="title">
                      <h4>ESCUCHAS
                      <span class="glyphicon glyphicon-chevron-right"></span>
                      </h4>
                    </a>
                  </div>
                </div>
              </div>
              
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6 text-right top-chart">
                  <img src="img/index/top honduras.jpg" class="img-rounded img-responsive pull-right">    
                </div>
                <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6">
                  <ol class="listens">
                    <li>
                      <a href="#"> Felices los 4</a>
                      <span  class="help-block"><h6>de <a href="#">Maluma</a></h6></span>
                    </li>
                    <li>
                      <a href="#">Me rehuso</a>
                      <span  class="help-block"><h6>de <a href="#">Danny Ocean</a></h6></span>
                    </li>
                    <li>
                      <a href="#">Despacito</a>
                      <span  class="help-block"><h6>de <a href="#">Luis Fonsi</a></h6></span>
                    </li>
                    <li>
                      <a href="#">Stronger</a>
                      <span  class="help-block"><h6>de <a href="#">Clean Bandit</a></h6></span>
                    </li>
                    <div class="clear"></div>
                    <span class="help-block">
                        <a href="#">VER TODO<span class="glyphicon glyphicon-chevron-right"></span></a>
                    </span>
                  </ol>
                </div>
              </div>        
            </div> <!-- FIN container-fluid -->
            <div class="clear"></div>
                <div class="container-fluid well card">
              <div class="row heading">
                <div class="col-xs-12">
                  <div class="text-center">
                    <a href="#" class="title">
                      <h4>NUEVOS LANZAMIENTOS
                      <span class="glyphicon glyphicon-chevron-right"></span>
                      </h4>
                    </a>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3 col-sm-6 col-md-4 col-xs-12 text-center">
                  <img src="img/index/nuevos/a264x264.jpg" class="img-rounded img-responsive img-album"><br>
                  <a href="#">Rarities of fetichism</a>
                  <span  class="help-block text-center"><h6>De Nephrectomy</h6></span>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-4 col-xs-12 text-center">
                  <img src="img/index/nuevos/b264x264.jpg" class="img-rounded img-responsive img-album"><br>
                  <a href="#">Amor Supremo Desnudo</a>
                  <span  class="help-block text-center"><h6>De Carla Morrison</h6></span>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-4 col-xs-12 text-center">
                  <img src="img/index/nuevos/c264x264.jpg" class="img-rounded img-responsive img-album"><br>
                  <a href="#">Ctrl</a>
                  <span  class="help-block text-center"><h6>De SZA</h6></span>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-4 col-xs-12 text-center">
                  <img src="img/index/nuevos/d264x264.jpg" class="img-rounded img-responsive img-album"><br>
                  <a href="#">Wonder</a>
                  <span  class="help-block text-center"><h6>De Hillsong United</h6></span>
                </div>
              </div>

                </div>
                <div class="clear"></div>
<!-- Fin Contenido Principal -->
